<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <title> Dojo Survey Index</title>
</head>
<body>
    <div class="container p-3 m-3">
        <div class="col-5 card shadow p-3 border">
            <form action="/result" method="post">
                <div class="form-group text-warning mb-3">
                    <label for="">Your Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <p class="text-warning">Dojo Location</p>
                <select class="form-select text-body-secondary" aria-label="Default select example" name="dojo_location">
                    <option selected>Select Location</option>
                    <option value="1">Manouba</option>
                    <option value="2">Bizerta</option>
                    <option value="3">Lisbon</option>
                    <option value="4">Barcelona</option>
                    <option value="5">Amsterdam</option>
                    <option value="6">La Haye</option>
                    <option value="7">Rotterdam</option>
                    <option value="8">Eindhoven</option>
                    <option value="9">Utrecht</option>
                    <option value="10">Twente</option>
                    <option value="11">Newyork</option>
                    <option value="12">Mexico</option>
                    <option value="13">Zagreb</option>            
                </select>
                <br>
                <p class="text-warning">Favorite Language</p>
                <select class="form-select text-body-secondary" aria-label="Default select example" name="favorite_language">
                    <option selected>Select Language</option>
                    <option value="1">Python</option>
                    <option value="2">JavaScript</option>
                    <option value="3">Java</option>
                    <option value="4">C#</option>
                    <option value="5">PHP</option>        
                </select>
                <br>
                <p class="text-warning">Comment (Optional)</p>
                <div class="form-floating text-body-secondary">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="comment"></textarea>
                    <label for="floatingTextarea2">Leave a comment here</label>
                  </div>
                  <br>
                  <input type="submit" value="submit" class="btn btn-warning btn-lg">                
            </form>
        </div>
    </div>    
</body>
</html>